{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<body>
    <div class="row"><!--Start of row-->
        <div class="col-sm-5"><!--Start of col-->
           <div class="display_table">
             <form method='POST' action=''>{% csrf_token %}
               {{form|crispy}}
               <input class="btn btn-primary" type="submit" value='Save'/>
             </form>
           </div>
        </div><!--End of col-->
    </div><!--End of row-->
</body>
{% endblock %}